main {
    display: flex;
    flex-direction: row;
}

section {
    flex: 1;
    padding: 10px;
}

#studentSection {
    border-right: 1px dotted #ccc;
}

#inputArea {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}

button {
    margin-left: 20px;
}

input {
    width: 300px;
}

h2 {
    font-weight: 100;
    color: #690712;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

@media print {
    #inputArea {
        display: none;
    }

    section {
        height: 95vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-right: 30px;
    }

    #instructorSection {
        padding-left: 30px;
        padding-right: 0px;
    }

}