main {
    display: flex;
    flex-direction: row;
}

section {
    flex: 1;
    padding: 10px;
}

#studentSection {
    border-right: 1px solid #333;
}

#inputArea {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}

button {
    margin-left: 20px;
}

input {
    width: 300px;
}

@media print {
    #inputArea {
        display: none;
    }
}